@CHARSET "UTF-8";

/* ������������ */
* {
 margin: 0px;
}

#slide {
 width: 45%;
 height: 100%;
 background: #ccc;
 position: absolute;
 left: 0;
 top: 0;
}



/* ��������� ��������� */
#backImg {
background: url("img/Galaxy_S4 white.png") 8px 0px; 
margin: 0px auto; width: 493px; height: 840px;
position: relative; 
}

/* ��������� ��������������� ������������ */
#blank { height: 60px;}
#layout { border: 1px solid #000; 
margin: 50px auto; width: 360px; height: 620px; position: relative; }





.a1 {
border: 1px solid red;
position: absolute;
width: 73px;
height: 250px;
border-radius: 50px;
margin-left: 147px;
margin-top: 120px;
}
.a2 {
border: 1px solid red;
position: absolute;
width: 180px;
height: 176px;
border-radius: 50px;
margin-left: 40px;
margin-top: 210px;
}
.a3 {
border: 1px solid red;
position: absolute;
width: 180px;
height: 176px;
border-radius: 50px;
margin-left: 40px;
margin-top: 360px;
}
.a4 {
border: 1px solid red;
position: absolute;
width: 73px;
height: 90px;
border-radius: 50px;
margin-left: 147px;
margin-top: 450px;
}
.a5 {
border: 1px solid red;
position: absolute;
width: 73px;
height: 90px;
border-radius: 50px;
margin-left: 253px;
margin-top: 210px;
}
.a6 {
border: 1px solid red;
position: absolute;
width: 73px;
height: 90px;
border-radius: 50px;
margin-left: 253px;
margin-top: 360px;
}

 
#trash {
border: 1px solid red;
  position: absolute;
  margin-left: 147px;
  margin-top: 280px;
  border-radius: 50px;
  width: 73px;
  height: 90px;
  }
 
.img {
width: 73px;
height: 90px;
}