@CHARSET "UTF-8";

/* resultList.html 에 적용css */

@font-face{
		font-family: 'orbitron';
		src: url('../font/orbitron-black-webfont.woff') format('woff');
}
@font-face{
		font-family: 'orbitron-l';
		src: url('../font/orbitron-light-webfont.woff') format('woff');		
}

*{margin: 0px; padding: 0px;}
.header{ 
	font-family: 'orbitron', sans-serif;
	font-size: 1.7em;
	height: 50px; line-height: 50px; background: #F5A503; 
	text-align: center; color: #fff;  font-weight: bold;
	border: none;
	text-shadow: none;
	color: white;
}
#layout { 
margin: 0px auto 0px; width: 320px; height: 518px; position: relative;}
#date { height: auto; text-align: center; line-height: 80px; position: relative; vertical-align: middle; }
#date p { font-family: 'orbitron', sans-serif; font-size: 250%; width: 320px; 
	color: #2E3233; font-weight: bold; margin: 15px auto 0px; text-align: center; }
	
#resultList { height: 450px; width: 340px; overflow: auto;}    
#rtScroll { overflow: hidden; position:absolute; height: 450px; width:320px;}

#date span { position: absolute; }
#date span.left { left: 40px; }
#date span.right { right: 40px; }
.rtTable{	width : auto; float: left; clear: both;}
.rtIcon{width: 40px;height: 40px;margin-left: 20px;text-align: center;}
.rtIcon i{/* margin-left: 10px; */}

.rtTime{width: 130px;height: 30px;padding-top: 10px;margin-left: 15px;text-indent: 10px; }
.rtDuration{width: 50px;	height: 30px;	padding-top: 10px;margin-left: 10px;text-align: center;}

.rtDelete{margin-top: 10px;margin-left: 20px;}

.rtDelete i{
	background: #999;
	opacity: 0.5;
	display: block; width: 20px; height: 20px; line-height: 20px; font-size: 1.0em;
	border-radius: 10px; -webkit-border-radius: 10px;	-moz-border-radius: 10px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15); border: 0px; 
	color: white; text-align: center;	
	
}
.rtDuration,.rtTime{
		/* font-family: 'orbitron-i', sans-serif; */
		font-size: 0.9em;
}

.rtIcon,.rtTime,.rtDuration,.rtDelete{
	float: left;
	/* border: 1px solid #999; */
	margin-bottom: 15px;
}
.fa, .li{  
	display: block; width: 40px; height: 40px; line-height: 40px; font-size: 1.5em;
	border-radius: 20px; -webkit-border-radius: 20px;	-moz-border-radius: 20px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15); border: 0px; 
	color: white; text-align: center;	
}

.fadeAnimate{
	width: 0px;
}



#mainLink { font-size: 200%; position: absolute; bottom: 10px; right: 90px; text-decoration: none;}
#deleteAll{font-size: 150%; position: absolute; bottom: 10px; right: 20px;  text-decoration: none;}

#mainLink i{
	font-size: 1.0em;		
	color: #3E606F;
}
#deleteAll i{font-size: 1.5em;color: #3E606F;}
