@CHARSET "UTF-8";
/* 레이아웃 */
#secondPage { border: 1px solid #000;
margin: 0px auto 0px; width: 100%; }


/* 폰트 아이콘 */
.fa, .li{  
	display: block; width: 60px; height: 60px; line-height: 60px; font-size: 2.5em;
	border-radius: 30px; -webkit-border-radius: 30px;	-moz-border-radius: 30px;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15); border: 0px; 
	color: white; text-align: center;	
}

.activityIcon .fa, .activityIcon .li, .checkBack{
	display: block; width: 50px; height: 50px; line-height: 50px; font-size: 2.1em;
	border-radius: 25px; -webkit-border-radius: 25px;	-moz-border-radius: 25px;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15); border: 0px; margin : inherit;
	color: white; text-align: center;	
		
}



/* 빙글빙글 */
.flipping { -webkit-transform: rotateY(720deg); -webkit-transition: 1.0s;}


/* ====================================== */


/* 타이머 */
#timer { position: absolute; width: 64px; height: 64px; 
line-height: 64px; text-align: center; font-weight: bolder; font-size: 145%; }

#result { margin-top: 10px; }



/* Result Pie ======================== */

#date { height: 60px; text-align: center; line-height: 100px; position: relative; }
#date h1 { font-size: 400%; font-weight: bold; margin: 0; }
#date span { position: absolute; }
#date span.left { left: 40px; }
#date span.right { right: 40px; }

/* 파이차트 */
#pieChart { margin-left: 35px; margin-top:20px;}
.pieChart_legend {margin-top: 23px;}

/* 결과창 하단 메뉴 */
#resultFooter { position: absolute; bottom: 20px; right: 20px;}
#resultFooter a { display: inline-block; margin-left: 5px; }
#resultFooter img { width: 50px; height: 50px; }


/* Result List = rt* ======================= */

#resultList { height: 319px; width: 340px; overflow: auto; margin-top: 20px;}    
#rtScroll { overflow: hidden; position:absolute; height: 385px; width:300px; margin-left: 30px; margin-top: 40px; } 
#rtTable { height: 70px;}
#rtImage{ /* position: absolute; */ text-align: center; margin-top: -6px; margin-left: -280px; padding-top: 10px; }
#rtName{ text-align: center; height: 20px; margin-left: 52px; margin-top: -10px; width: 105px; display: block; }
#rtTime{ text-align: center; float:right; margin-right: 66px; margin-top: -10px; }
#resultList img { width: 40px; height: 40px; margin-bottom: -4%; }


/* 슬라이드 */
* { margin: 0px; padding: 0px;}

#menuLeft { margin-left: 90px; 
border: 1px solid #999; display: block; width: 30px; height: 30px; }


#slide {
  height:533px; width:104px; overflow:hidden; 
  background: #ccc;
  position: absolute;
  left: 0;
  top: 0;
}

#input {
  border: 0px;
  width: 104px;
  height: 22px;
  margin-top: 13px;
}

#icons {
  height:470px; width:129px; overflow:auto;
  margin-left: 19px;
  margin-top: 14px;
}

hr {
  width: 62px;
  margin-top: 16px;
  margin-bottom: 16px;  
}

.font {
  text-align: center;
  width: 65px;
  color: white;
}
