@CHARSET "UTF-8";

/* main.html 에 적용되는 css file */
body, body * { margin: 0px; padding: 0px;}
html,body{width: 100%; height:100%;}
body{overflow:hidden;}
/* 레이아웃 */
#layout { /* border: 1px solid #000; */
margin: 30px auto 0px; width: 320px; height: 85%; position: relative;}

/* 메인아이콘 */
#iconMainDiv { width: 300px; height: 340px; margin: 0px auto 0px; position: relative; }
@font-face{ font-family: 'orbitron'; src: url('../font/orbitron-black-webfont.woff') format('woff');}

.header { border: none; text-shadow: none; color: #fff; background: #de0052;
font-family: 'orbitron', san1s-serif; font-size: 1.7em; font-weight: bold; 
height: 50px; line-height: 50px; text-align: center;}

/* .aLinks{position: absolute; bottom: 1px; width: 200px;height:70px;}
.aLinks a .li{width: 30px; height: 30px;} */
.links .li {text-shadow: none;}
.iconLink { position: absolute; right: 63px;bottom: 1px; font-size: 150%; text-decoration: none;}
.resultLink {position: absolute; bottom: 1px;right: 120px; font-size: 150%; text-decoration: none;}
.userLink{position: absolute; bottom: 1px; right: 10px; font-size: 150%; text-decoration: none;}

.resultLink i { color:#de0052; font-size: 1.3em;}
.iconLink i { color:#de0052; font-size: 1.3em;}
.userLink i { color:#de0052; font-size: 1.3em;}
/* 폰트 아이콘 */
.fa, .li {  
	display: block; width: 70px; height: 70px; line-height: 70px; font-size: 2.8em;
	border-radius: 35px; -webkit-border-radius: 35px;	-moz-border-radius: 35px;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15); border: 0px; 
	color: white; text-align: center;	
}
#middle { position: absolute; left: 115px; top: 139px; }
#start { position: absolute; top: 110px; left: 106px; width: 88px; height: 128px; opacity: 1; }
.iconMain { position: absolute; }
.iconMain.center { left: 115px; }
.iconMain.left { left: 10px; }
.iconMain.right { left: 220px; }
.iconMain.center.top { top: 10px; }
.iconMain.left.top, .right.top { top: 80px; }
.iconMain.left.bottom, .right.bottom { top: 205px; } 
.iconMain.center.bottom { top: 275px; } 

/* 빙글빙글 */
.flipping { -webkit-transform: rotateY(720deg); -webkit-transition: 1.0s;}

/* 타이머 */
#timer { position: absolute; width: 64px; height: 64px; 
line-height: 64px; text-align: center; font-weight: bolder; font-size: 145%; }

