@CHARSET "UTF-8";

/* resultList.html 에 적용css */
* { margin: 0px; padding: 0px;}
html,body{ height: 100%; width:100%;}

@font-face { font-family: 'orbitron'; src: url('../font/orbitron-black-webfont.woff') format('woff');}
@font-face { font-family: 'orbitron-l';	src: url('../font/orbitron-light-webfont.woff') format('woff'); }
@font-face { font-family: 'nanumGothic';  src: url('font/NanumGothic.woff') format('woff');}
.header{ 
	font-family: 'orbitron', sans-serif;
	font-size: 1.7em;
	height: 50px; line-height: 50px; background: #F0788C; 
	text-align: center; color: #fff;  font-weight: bold;
	border: none;
	text-shadow: none;
	color: white;
}
.header .mainLink{ position: absolute; left: 0; width: 70px;
text-decoration: none; color: #fff; font-size: 100%;}

#layout { margin: 0px auto 0px; width: 320px; height: 70%; position: relative;}
#date { height: auto; text-align: center; line-height: 60px; position: relative; vertical-align: middle; }
#date p { font-family: 'orbitron', sans-serif; font-size: 200%; width: 320px; 
	color: #2E3233; font-weight: bold; margin: 0px auto ; text-align: center; }
	
#rtScroll { overflow: hidden; position:absolute; height: 100%; width:300px;}
#pieChart { height: 100%; width: 340px; overflow-x: hidden;}
#date span { position: absolute; width: 70px;}
#date span.left { left: 0px; }
#date span.right { right: 0px; }

.listNavi{ width: 40%;  padding: 0px; line-height: 30px; text-align: center; 
						margin-bottom: 5px;position: absolute;bottom: 0px; right: 5px; }
.listNavi div{font-family: 'orbitron';height: 30px;  color: white;background: #FBC0CA; }
.listNavi .weekNavi{ width:32%; margin:0px auto; display: inline-block;}
.listNavi .dateNavi{ width:32%;float:left; background: #F895A5; }
.listNavi .monthNavi{ width:32%;float:right;}


.fa, .li{  
	display: block; width: 40px; height: 40px; line-height: 40px; font-size: 1.5em;
	border-radius: 20px; -webkit-border-radius: 20px;	-moz-border-radius: 20px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15); border: 0px; 
	color: white; text-align: center;	
}

.fadeAnimate{
	width: 0px;
}

/*--pie chart 관련 -->   */
#rtScroll { }
.chart {
  width: 260px;
  height: 260px;
  margin: 30px auto 10px;
}
.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 10px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  pointer-events: none;
}
.doughnutTip:after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(0,0,0,.7);
      line-height: 0;
}
.doughnutSummary {
  position: absolute;
  /* top: 50%; */
  top: 160px;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  
  cursor: default;
}
.doughnutSummaryTitle {
	font-family: 'orbitron','nanumGothic';
  position: absolute;
  top: 33%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
	font-family: 'orbitron','nanumGothic';
  position: absolute;
  top: 33%;
  width: 100%;
  margin-top: 0%;
  font-size: 30px;
  text-shadow: 1px 1px 1px #111;
}
.chart path:hover, .chart path.hover_effect { opacity: .65; }

.hover {
-webkit-user-select: none;
-webkit-touch-callout: none;        
}
pre { font-family: sans-serif;}

/*<--pie chart 관련 --   */


.deleteAll{font-size: 150%; position: absolute; bottom: 10px; left: 1px;  text-decoration: none;}
.deleteAll i{font-size: 1.4em;color: #F0788C;}
